
:root {
  --font-size-mobile-m: 0.5rem;
  --font-size-mobile-s: 0.3rem;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: var(--font-size-mobile-m);
}

img {
  margin: 1rem auto;
  border-radius: 50%;
}

label {
  margin: 0;
  padding: 0;
}

input {
  font-size: 0.5rem;
  margin: auto;
}

button {
  font-size: 0.5rem;
}

p {
  font-size: 0.4rem;
}

ul {
  padding: 0;
  margin: 0;
}

ul .big {
  font-size: 0.35rem;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 0.3rem;
  margin: auto;
}

li div {
  margin: auto 0;
}

svg {
  margin: auto 0;
}

span {
  font-size: var(--font-size-mobile-s);
}

nav {
  background-color: rgb(32, 32, 32);
  color: white;
}

nav .header-button {
  color: gray;
  border: solid black 1px;
  font-size: 0.5rem;
}

.information {
  padding: 0.5rem;
  font-size: 0.3rem;
}

.stack {
  padding: 0.2rem;
}

.txt {
  font-size: 0.5rem;
}

.sm-txt {
  font-size: 0.3rem;
}

.read-more-btn {
  font-size: 0.3rem;
  border: none;
}

.btn {
  border: solid gray 1px;
}

.active {
  border: solid green 1px;
  color: green;
}

.inactive {
  border: solid red 1px;
  color: red;
}

.stock-container {
  transition: 0.1s;
  cursor: pointer;
  margin: 0.2rem 0;
  background-color: lightgray;
  border-radius: 0.5rem;
}
 
.stock-odd-container {
  transition: 0.1s;
  cursor: pointer;
  margin: 0.2rem 0;
  border-radius: 0.5rem;
}

.stock-container:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.stock-odd-container:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

@media screen and (min-device-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  input {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  ul .big {
    font-size: 0.8rem;
  }

  li {
    font-size: 0.6rem;
  }

  nav .header-button {
    font-size: 1rem;
    margin: auto;
    text-decoration: none;
    text-align: center;
  }

  .txt {
    font-size: 1.5rem;
  }

  .sm-txt {
    font-size: 1rem;
  }

  .read-more-btn {
    font-size: 1rem;
  }

  .information {
    font-size: 0.8rem;
    padding: 1rem 3rem;
  }

  span {
    font-size: 1rem;
  }
}

@media screen and (min-device-width: 1024px) {
  h2 {
    font-size: 3rem;
  }

  input {
    font-size: 2rem;
  }

  button {
    font-size: 2rem;
  }

  ul .big {
    font-size: 2rem;
  }

  li {
    font-size: 1.5rem;
  }

  nav .header-button {
    font-size: 2rem;
  }

  .txt {
    font-size: 2.5rem;
  }

  .sm-txt {
    font-size: 2rem;
  }

  .read-more-btn {
    font-size: 2rem;
  }

  .information {
    font-size: 1.5rem;
    padding: 3rem 6rem;
  }

  span {
    font-size: 2rem;
  }
}
