
:root {
  --font-size-mobile-g: 1rem;
}

h2 {
  font-size: var(--font-size-mobile-g);
}

label {
  margin: 0;
  padding: 0;
}

input {
  font-size: 0.5rem;
  margin: auto;
}

button {
  font-size: 0.5rem;
}

p {
  font-size: 0.3rem;
  color: red;
}

ul {
  padding: 0;
  margin: 0;
}

ul .big {
  font-size: 0.35rem;
}

li {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 0.3rem;
  margin: auto;
}

li div {
  margin: auto 0;
}

svg {
  margin: auto 0;
}

* {
  background-color: white;
}

.stack {
  padding: 0.2rem;
}
